<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifeonline.servicelive.mapper.DiaryMapper">

    <select id="findAllDetail" resultType="com.lifeonline.servicelive.model.vo.DiaryVO" >
        SELECT live_diary.id AS id,live_diary.title AS title,live_diary.detail AS detail,live_diary.gmt_create AS createTime,
               all_user.id AS userId,all_user.nickname AS nickname,all_user.avatar AS avatar,
               IFNULL((SELECT COUNT(*) FROM all_like WHERE all_like.id = live_diary.id),0) AS likeQuantity,
               IFNULL((SELECT COUNT(*) FROM all_comment WHERE all_comment.id = live_diary.id),0) AS commentQuantity,
               IFNULL((SELECT COUNT(*) FROM all_repost WHERE all_repost.id = live_diary.id),0) AS repostQuantity
        FROM live_diary
        JOIN all_user ON live_diary.user_id = all_user.id
    </select>

</mapper>